<section class="quiz-registration" *ngIf="quiz">
  <app-container>
    <h2 class="text-center">{{ "title_quiz_register" | translatePipe }}</h2>
    <form class="form text-center" (ngSubmit)="register(userAdmin)" #registrationForm="ngForm">
      <app-fieldset [content_style]="'row'">
        <!-- Campo nome -->
        <div class="form-group">
          <legend>
            {{ "name_label" | translatePipe }} <span class="required">*</span>
          </legend>
          <input type="text" id="name" [(ngModel)]="quiz.name" name="name" autocomplete="current-quiz" required
            appTextOnly #nameField="ngModel" />

          <div *ngIf="nameField.errors?.['required'] && submitted">
            {{ "field_required" | translatePipe }}
          </div>
          <div *ngIf="nameField.errors?.['textOnly'] && submitted">
            {{ "invalid_characters" | translatePipe }}
          </div>
        </div>
      </app-fieldset>

      <div class="buttons">
        <app-button [className]="'secundary'" (click)="register(userAdmin)" [disabled]="!this.isFormValid(quiz)">
          {{ "register" | translatePipe }}
        </app-button>
      </div>
    </form>
  </app-container>
</section>
