<footer class="footer row">
  <div class="col-sm-6">
    <app-image link={{componentParams.images.logo.link}} title={{componentParams.images.logo.title}}
      alt={{componentParams.images.logo.title}} width={{componentParams.images.logo.width}}
      height={{componentParams.images.logo.height}}>
    </app-image>
    <small class="whatsapp">{{componentParams.phoneNumber}}</small>
    <small class="email">{{componentParams.email}}</small>
  </div>
  <div class="col-sm-6">
    <h2 class="title">Institucional</h2>
    <nav *ngFor="let menuItem of componentParams.menu; let linkIndex=index">
      <app-link #linkComponent target="{{menuItem.target}}" title="{{menuItem.title}}" href="{{menuItem.link}}">
      </app-link>
    </nav>
  </div>
  <div class="col-sm-12">
    <small class="copyright">{{componentParams.copyright}}</small>
  </div>
  <ng-content></ng-content>
</footer>
