<footer class="footer row">
  <div class="col-sm-6">
    <app-image #imageComponent (dataEmitter)="sendDataToChildComponents($event)">
    </app-image>
    <small class="whatsapp">{{this.componentParams.phoneNumber}}</small>
    <small class="email">{{this.componentParams.email}}</small>
  </div>
  <div class="col-sm-6">
    <h2 class="title">Institucional</h2>
    <nav *ngFor="let menuItem of this.componentParams.menu; let linkIndex=index">
      <app-link #linkComponent (dataEmitter)="sendDataToChildComponents($event)">
      </app-link>
    </nav>
  </div>
  <div class="col-sm-12">
    <small class="copyright">{{this.componentParams.copyright}}</small>
  </div>
</footer>
