<section class="search">
  <h1 class="title">Gif search</h1>
  <!-- <app-form class="search" id="search" formGroup="search"> -->
    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <!-- <app-input id="limit" class="limit" name="limit" placeholder="Result max value" form={{this.form}} pattern={{this.limitPattern}}></app-input> -->
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6">
        <!-- <app-input id="term" class="term" name="term" placeholder="Search term" form={{this.form}} pattern={{this.termPattern}}></app-input> -->
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2">
        <!-- <app-button id="button" class="button" text="Search" form={{this.form}}
          (click)="searchBySubscribe(this.form, $event.stopPropagation())"></app-button>
      </div> -->
    </div>
  <!-- </app-form> -->
</section>
<app-gif-results #gifsResults [receiveGifs]="searchGifs"></app-gif-results>
