<section class="users" *ngIf="usersList">
  <app-container>
    <h2 class="text-center">{{"page_user_manage_list_title" | translate }}</h2>
    <div class="list-content user" *ngFor="let user of usersList">
      <ul class="list-legend inline-list">
        <li class="text-center">
          {{ "id" | translate }}
        </li>
        <li class="text-center">{{ "birthday" | translate }}</li>
        <li class="text-center">{{ "email" | translate }}</li>
        <li class="text-center">{{ "name" | translate }}</li>
        <li class="text-center">{{ "actions" | translate }}</li>
      </ul>
      <ul class="list-data inline-list">
        <li class="text-center" *ngIf="user.uid">
          {{user.uid}}
        </li>
        <li class="text-center">{{user.birthdate}}</li>
        <li class="text-center">{{user.email}}</li>
        <li class="text-center">{{user.displayName}}</li>
        <li class="text-center">
          <ul class="inline-list">
            <li><a (click)="editUser(user)">{{ "edit" | translate }}</a> </li>
            <li><a (click)="deleteUserPopUp(true)">{{ "delete" | translate }}</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </app-container>
</section>

<app-pop-up *ngIf="showDeleteUserPopup && showDeleteUserPopup === true && user">
  <h2 class="title">Desativar usuário</h2>
  <h3 class="subtitle">Você quer desativar o usuário {{user.uid}} - {{user.displayName}}?</h3>
  <a (click)="deleteUser(user)">{{ "yes" | translate }}</a>
  <a (click)="showDeleteUserPopup = false">{{ "no" | translate }}</a>
</app-pop-up>
