@import "../../../user/components/user-profile/user-profile.component.css";

.list-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list-content .inline-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-content .list-legend {
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.list-content .list-data {
  color: #555;
}

.list-content li {
  text-align: center;
  flex: 1;
  word-wrap: break-word;
}
