<header class="header text-center">
  <app-switch-language-nav class="languages" />
  <div class="menu auth">
    <a class="link" [routerLink]="['/quiz']" routerLinkActive="active"> {{ "page_quiz_title" | translate }}</a>
    <a class="link" *ngIf="userId && userId !== ''" [routerLink]="['/result', userId]" routerLinkActive="active">
      {{ "page_results_title" | translate }}
    </a>
    <a class="link" *ngIf="userId && userId !== ''" [routerLink]="['/profile', userId]" routerLinkActive="active">
      {{ "page_profile_title" | translate }}
    </a>
    <a class="link" *ngIf="!userId || userId === ''" [routerLink]="['/login']" routerLinkActive="active"> {{ "login" |
      translate }}</a>
    <a class="link" *ngIf="userId && isAdmin === true" [routerLink]="['/users']" routerLinkActive="active"> {{
      "administrator" |
      translate }}</a>
    <a class="link" *ngIf="userId && userId !== ''" href="/login" (click)="logout()"> {{ "logout" | translate }}</a>
  </div>
</header>
