<form (ngSubmit)="passwordReset($event)" [formGroup]="form">
  <mat-form-field>
    <mat-label>Nova senha</mat-label>
    <input matInput [type]="hidePassword ? 'password' : 'text'" id="password" password="password"
      formControlName="passwordField" class="form-control" required>
    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hidePassword">
      <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Confirmação de nova senha</mat-label>
    <input matInput [type]="hidePasswordConfirmation ? 'password' : 'text'" id="passwordConfirmation"
      passwordConfirmation="passwordConfirmation" formControlName="passwordFieldConfirmation" class="form-control"
      required>
    <button mat-icon-button matSuffix (click)="hidePasswordConfirmation = !hidePasswordConfirmation"
      [attr.aria-label]="'Hide passwordConfirmation'" [attr.aria-pressed]="hidePasswordConfirmation">
      <mat-icon>{{hidePasswordConfirmation ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <mat-error *ngIf="form.invalid">{{getErrorMessage()}}</mat-error>
  <app-button>Confirmar</app-button>
</form>
