<main class="page-home">
  <div class="container">
    <section class="section intro">
      <h1>{{this.projectTitle}}</h1>
      <h2 class="subtitle">Encontre os melhores profissionais próximos de você</h2>
    </section>
    <section class="section search-profissional">
      <form class="search-form" (submit)="searchProfessional($event)">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Quero buscar serviços de..." value="">
        </mat-form-field>
        <app-button>Buscar</app-button>
      </form>
    </section>
    <section class="section search-profissional-results">
      <div class="col-sm-12">
        <div class="col-sm-2 col-md-3 col-lg-4 inline"
          *ngFor="let professional of this.professionaisSearchResult; let professionalIndex=index; trackBy: trackByFn;">
          <a [routerLink]="['/profissional/', professional.slug]" id={{professional.id}} class="link">
            <mat-card class="card">
              <mat-card-content>
                <app-background-image #backgroundImageComponent [link]="professional.images[0].link"
                  [title]="professional.images[0].title">
                </app-background-image>
                <h1 class="main-title">{{professional.name}}</h1>
                <p class="description">{{professional.description}}</p>
                <h2 class="title">Serviço principal</h2>
                <p class="main-category">{{professional.categories[0].name}}</p>
                <h2 class="title">Localização</h2>
                <p class="localization">{{professional.localization.state}} - {{professional.localization.city}}</p>
                <app-button>Ver mais</app-button>
              </mat-card-content>
            </mat-card>
          </a>
        </div>
      </div>
      <mat-paginator [length]="100" [pageSize]="6" [pageSizeOptions]="[6, 9, 30, 100]" aria-label="Selecione a página">
      </mat-paginator>
    </section>
    <section class="section best-categories">
      <div class="col-sm-12">
        <h1 class="main-title">Principais serviços</h1>
        <div class="col-sm-2 col-md-3 col-lg-4 inline"
          *ngFor="let category of this.componentParams.bestCategories; let categoryIndex=index; trackBy: trackByFn;">
          <a [routerLink]="['/categoria/', category.slug]" id={{category.id}} class="link">
            <mat-card class="card">
              <mat-card-content>
                <app-background-image #backgroundImageComponent [link]="category.images[0].link"
                  [title]="category.images[0].title">
                </app-background-image>
                <h2 class="title">{{category.name}}</h2>
                <p class="description">{{category.description}}</p>
                <app-button>Ver mais</app-button>
              </mat-card-content>
            </mat-card>
          </a>
        </div>
      </div>
    </section>
    <section class="section how-works">
      <div class="col-sm-12">
        <h1 class="main-title">O que é o {{this.projectTitle}} ?</h1>
        <h2 class="title">Facilitamos a sua busca do melhor prestador de serviço mais próximo de sua região!</h2>
        <div class="col-sm-2 col-md-3 col-lg-4 inline">
          <app-image link={{componentParams.images[0].link}} title={{componentParams.images[0].title}}
            alt={{componentParams.images[0].title}} width={{componentParams.images[0].width}}
            height={{componentParams.images[0].height}}></app-image>
          <h2 class="sub-title">Tenha acesso rapidamente a vários prestadores de serviços para atender a sua
            necessidade.</h2>
        </div>
        <div class="col-sm-2 col-md-3 col-lg-4 inline">
          <app-image link={{componentParams.images[1].link}} title={{componentParams.images[1].title}}
            alt={{componentParams.images[1].title}} width={{componentParams.images[1].width}}
            height={{componentParams.images[1].height}}></app-image>
          <h2 class="title">Entre em contato direto com o profissional</h2>
          <h2 class="sub-title">Obtenha todas as informações de contato do prestador de serviço rapidamente!</h2>
        </div>
        <div class="col-sm-2 col-md-3 col-lg-4 inline">
          <app-image link={{componentParams.images[2].link}} title={{componentParams.images[2].title}}
            alt={{componentParams.images[2].title}} width={{componentParams.images[2].width}}
            height={{componentParams.images[2].height}}></app-image>
          <h2 class="title">Explique sua demanda</h2>
          <h2 class="sub-title">Converse diretamente com o prestador de serviço e negocie facilmente.</h2>
        </div>
      </div>
    </section>
    <section class="section about">
      <div class="col-sm-6">
        <app-background-image #backgroundImageComponent [link]="componentParams.images[3].link"
          [title]="componentParams.images[3].title">
        </app-background-image>
      </div>
      <div class="col-sm-6">
        <h1 class="main-title">Sobre o {{this.projectTitle}} ?</h1>
        <p class="text">
          O {{this.projectTitle}} nasceu em 2023 para facilitar o contato do cliente com o prestador de serviço mais
          próximo de sua região, facilitando assim a busca e o contato entre quem precisa do serviço.
        </p>
      </div>
    </section>
  </div>
</main>
