<head>
  <meta charset="utf-8">
  <meta name="version" content={{componentParams.version}}>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="content-language" content="pt-br" />
  <!-- <link rel="canonical" href={{componentParams.canonical}}> -->
  <!-- <base href={{componentParams.canonical}}> -->
  <title>{{componentParams.title}}</title>
  <meta name="description" content={{componentParams.description}}>
  <meta name="keywords" content={{componentParams.keywords}}>
  <meta name="robots" content={{componentParams.robots}}>
  {{componentParams.scripts}}
  <ng-content></ng-content>
</head>
