<div class="login-container">
  <h2>Login</h2>
  <form (submit)="loginWithEmail()">
    <input type="email" [(ngModel)]="email" placeholder="Email" />
    <input type="password" [(ngModel)]="password" placeholder="Senha" />
    <button (click)="loginWithEmail()">Login</button>
    <button (click)="loginWithGoogle()">Login com Google</button>
    <button (click)="register()">Registrar</button>
    <button (click)="recoverPassword()">Recuperar Senha</button>
    <p *ngIf="errorMessage">{{ errorMessage }}</p>
  </form>
  <button (click)="loginWithGoogle()">Login com Google</button>
  <button (click)="register()">Registrar</button>
  <button (click)="recoverPassword()">Recuperar Senha</button>
</div>
