<section class="quiz-manage" *ngIf="quizToManage">
  <app-container>
    <h2 class="text-center">{{ "title_quiz_manager" | translatePipe }}</h2>
    <p class="text-center" *ngIf="quizToManage.id">
      Id: {{quizToManage.id}}
    </p>

    <form class="form text-center" (ngSubmit)="update(quizToManage, userAdminId)" #registrationForm="ngForm">
      <app-fieldset [content_style]="'row'">
        <!-- Campo nome -->
        <div class="form-group">
          <legend>
            {{ "name_label" | translatePipe }} <span class="required">*</span>
          </legend>
          <input type="text" id="name" [(ngModel)]="quizToManage.name" name="name" autocomplete="current-name" required
            [attr.aria-invalid]="
             quizToManage.name && quizToManage.name.trim() === ''
                ? 'true'
                : 'false'
            " />
        </div>

        <!-- Campo ativo  -->
        <div class="form-group full-basis">
          <legend>{{ "active" | translatePipe }}</legend>
          <select id="active" [(ngModel)]="quizToManage.active" name="active" required>
            <option [value]="true">
              {{ "yes" | translatePipe }}
            </option>
            <option [value]="false">
              {{ "no" | translatePipe }}
            </option>
          </select>
        </div>

        <div class="buttons">
          <app-button [className]="'secundary'" (click)="editQuestions(quizToManage.id)">
            {{ "edit_questions" | translatePipe }}
          </app-button>

          <app-button [className]="'secundary'" (click)="update(quizToManage, userAdminId)"
            [disabled]="!this.isFormValid(quizToManage)">
            {{ "update" | translatePipe }}
          </app-button>
        </div>

      </app-fieldset>
    </form>
  </app-container>
</section>
