<main class="page-category">
  <div class="container">
    <section class="section intro">
      <div class="row">
        <div class="col-sm-12 col-lg-6">
          <h1 class="main-title">{{this.componentParams[0].name}}</h1>
          <p class="description">{{this.componentParams[0].description}}</p>
        </div>
        <div class="col-sm-12 col-lg-6">
          <app-background-image #backgroundImageComponent [link]="this.componentParams[0].images[0].link"
            [title]="this.componentParams[0].images[0].title">
          </app-background-image>
        </div>
      </div>
    </section>
    <section class="section related-categories">
      <div class="row">
        <div class="col-sm-2 col-md-3 col-lg-4 inline"
          *ngFor="let relatedCategory of this.componentParams[0].relatedCategories; let relatedCategoryIndex=index">
          <a href={{relatedCategory.link}} class="link">
            <mat-card class="card">
              <mat-card-content>
                <app-background-image #backgroundImageComponent [link]="relatedCategory.images[0].link"
                  [title]="relatedCategory.images[0].title">
                </app-background-image>
                <h2 class="title">{{relatedCategory.name}}</h2>
                <p class="description">{{relatedCategory.description}}</p>
              </mat-card-content>
            </mat-card>
          </a>
        </div>
      </div>
    </section>
  </div>
</main>
