<section class="search">
  <app-form #FormComponent class="search" id="search" formGroup="search">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-11">
        <app-input id="term" class="term" name="term" placeholder="Term to search"
          pattern={{this.termPattern}}></app-input>
      </div>
      <!--
      <div class="col-12 col-sm-6 col-md-5">
        <app-input id="limit" class="limit" name="limit" placeholder="Max quantity of results" pattern={{this.limitPattern}}></app-input>
      </div>
      -->
      <div class="col-12 col-sm-12 col-md-1 center-container">
        <app-button id="button" class="center-container" text="Search"
          (click)="searchBySubscribe($event)"></app-button>
      </div>
    </div>
  </app-form>
  <ng-content></ng-content>
</section>
