<mat-tab-group>
  <mat-tab label="User">
    <h2 class="title">Cadastro de profissional</h2>
    <form (ngSubmit)="registerUser($event)" [formGroup]="formUser">
      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="pat@example.com" required class="form-control" formControlName="email">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Confirmação de E-mail</mat-label>
        <input matInput placeholder="pat@example.com" required class="form-control" formControlName="emailConfirmation">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" required class="form-control" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Confirmação da senha</mat-label>
        <input matInput [type]="hideConfirmation ? 'password' : 'text'" required class="form-control"
          formControlName="passwordConfirmation">
        <button mat-icon-button matSuffix (click)="hideConfirmation = !hideConfirmation"
          [attr.aria-label]="'HideConfirmation password'" [attr.aria-pressed]="hideConfirmation">
          <mat-icon>{{hideConfirmation ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput [type]="'text'" required class="form-control" formControlName="name">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Sobrenome</mat-label>
        <input matInput [type]="'text'" required class="form-control" formControlName="lastname">
      </mat-form-field>
      <mat-form-field>
        <mat-label>CPF</mat-label>
        <input matInput [type]="'text'" required class="form-control" formControlName="cpf">
      </mat-form-field>
      <mat-form-field>
        <input type="text" placeholder="Estado" aria-label="Number" matInput [matAutocomplete]="auto"
          formControlName="state">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <input type="text" placeholder="Cidade" aria-label="Number" matInput [matAutocomplete]="auto"
          formControlName="city">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Rua</mat-label>
        <input matInput [type]="'text'" required class="form-control" formControlName="addressStreet">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Número</mat-label>
        <input matInput [type]="'text'" required class="form-control" formControlName="addressNumber">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Complemento</mat-label>
        <input matInput [type]="'text'" required class="form-control" formControlName="addressComplement">
      </mat-form-field>
      <mat-form-field>
        <input type="text" placeholder="Categoria do seu serviço" aria-label="Number" matInput [matAutocomplete]="auto"
          formControlName="serviceCategory">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Formas de atendimento</mat-label>
        <mat-select>
          <mat-option [value]="1">
            Presencial
          </mat-option>
          <mat-option [value]="2">
            Remoto
          </mat-option>
          <mat-option [value]="3">
            Ambos
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Descrição do seu serviço</mat-label>
        <textarea matInput required class="form-control" formControlName="descriptionService"></textarea>
      </mat-form-field>
      <mat-error *ngIf="formUser.invalid">{{userFieldsValidator()}}</mat-error>
      <app-button>Confirmar</app-button>
    </form>
  </mat-tab>
  <mat-tab label="Company">
    <h2 class="title">Cadastro de empresa</h2>
    <form (ngSubmit)="registerCompany($event)" [formGroup]="formCompany">
      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="pat@example.com" required class="form-control" formControlName="email">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Confirmação de E-mail</mat-label>
        <input matInput placeholder="pat@example.com" required class="form-control" formControlName="emailConfirmation">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" required class="form-control" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Confirmação da senha</mat-label>
        <input matInput [type]="hideConfirmation ? 'password' : 'text'" required class="form-control"
          formControlName="passwordConfirmation">
        <button mat-icon-button matSuffix (click)="hideConfirmation = !hideConfirmation"
          [attr.aria-label]="'HideConfirmation password'" [attr.aria-pressed]="hideConfirmation">
          <mat-icon>{{hideConfirmation ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput [type]="'text'" required class="form-control" formControlName="name">
      </mat-form-field>
      <mat-form-field>
        <mat-label>CNPJ</mat-label>
        <input matInput [type]="'text'" required class="form-control" formControlName="cnpj">
      </mat-form-field>
      <mat-form-field>
        <input type="text" placeholder="Estado" aria-label="Number" matInput [matAutocomplete]="auto"
          formControlName="state">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <input type="text" placeholder="Cidade" aria-label="Number" matInput [matAutocomplete]="auto"
          formControlName="city">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Rua</mat-label>
        <input matInput [type]="'text'" required class="form-control" formControlName="addressStreet">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Número</mat-label>
        <input matInput [type]="'text'" required class="form-control" formControlName="addressNumber">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Complemento</mat-label>
        <input matInput [type]="'text'" required class="form-control" formControlName="addressComplement">
      </mat-form-field>
      <mat-form-field>
        <input type="text" placeholder="Categoria do seu serviço" aria-label="Number" matInput [matAutocomplete]="auto"
          formControlName="serviceCategory">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Formas de atendimento</mat-label>
        <mat-select>
          <mat-option [value]="1">
            Presencial
          </mat-option>
          <mat-option [value]="2">
            Remoto
          </mat-option>
          <mat-option [value]="3">
            Ambos
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Descrição do seu serviço</mat-label>
        <textarea matInput required class="form-control" formControlName="descriptionService"></textarea>
      </mat-form-field>
      <mat-error *ngIf="formUser.invalid">{{companyFieldsValidator()}}</mat-error>
      <app-button>Confirmar</app-button>
    </form>
  </mat-tab>
</mat-tab-group>
