<mat-tab-group>
  <mat-tab label="User">
    <h2 class="title">Cadastro de profissional</h2>
    <form (ngSubmit)="registerProfessional(formProfessional)" [formGroup]="formProfessional">
      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input [value]="" matInput class="form-control" formControlName="email" placeholder="seu.email@gmail.com">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Confirmação de E-mail</mat-label>
        <input [value]="" matInput class="form-control"
          formControlName="emailConfirmation" placeholder="seu.email@gmail.com">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input [value]="" matInput [type]="hide ? 'password' : 'text'" class="form-control" formControlName="password" placeholder="Senha@12356">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Confirmação da senha</mat-label>
        <input [value]="" matInput [type]="hideConfirmation ? 'password' : 'text'" class="form-control"
          formControlName="passwordConfirmation" placeholder="Senha@12356">
        <button mat-icon-button matSuffix (click)="hideConfirmation = !hideConfirmation"
          [attr.aria-label]="'HideConfirmation password'" [attr.aria-pressed]="hideConfirmation">
          <mat-icon>{{hideConfirmation ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nome</mat-label>
        <input [value]="" matInput [type]="'text'" class="form-control" formControlName="name" placeholder="Nome">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Sobrenome</mat-label>
        <input [value]="" matInput [type]="'text'" class="form-control" formControlName="lastname" placeholder="Sobrenome">
      </mat-form-field>
      <mat-form-field>
        <mat-label>CPF</mat-label>
        <input [value]="" matInput [type]="'text'" class="form-control" formControlName="cpf" placeholder="00000000000">
      </mat-form-field>
      <h2 class="title">Endereço</h2>
      <mat-form-field>
        <input [value]="" type="text" placeholder="País" aria-label="Number" matInput formControlName="addressCountry"
          #professionalAddressCountry [formControl]="myControl" [matAutocomplete]="contry" id="addressCountry">
        <mat-autocomplete #contry="matAutocomplete">
          <mat-option *ngFor="let country of filteredCountries | async" [value]="country">
            {{ country }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <input [value]="" type="text" placeholder="Estado" aria-label="Number" matInput formControlName="addressState"
          #professionalAddressState [formControl]="myControl" [matAutocomplete]="state" id="addressState">
        <mat-autocomplete #state="matAutocomplete">
          <mat-option *ngFor="let state of filteredStates | async" [value]="state">
            {{ state }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <input [value]="" type="text" placeholder="Cidade" aria-label="Number" matInput formControlName="addressCity"
          #professionalAddressCity [formControl]="myControl" [matAutocomplete]="city" id="addressCity">
        <mat-autocomplete #city="matAutocomplete">
          <mat-option *ngFor="let city of filteredCitiesOfState | async" [value]="city">
            {{ city }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Bairro</mat-label>
        <input [value]="" matInput [type]="'text'" class="form-control" formControlName="addressNeighborhood">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Rua</mat-label>
        <input [value]="" matInput [type]="'text'" class="form-control" formControlName="addressStreet">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Número</mat-label>
        <input [value]="" matInput [type]="'text'" class="form-control" formControlName="addressNumber">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Complemento</mat-label>
        <input [value]="" matInput [type]="'text'" class="form-control" formControlName="addressComplement">
      </mat-form-field>
      <mat-form-field>
        <mat-label>CEP</mat-label>
        <input [value]="" matInput [type]="'text'" class="form-control" formControlName="addressCep" placeholder="0000-0000">
      </mat-form-field>
      <h2 class="title">Área de atendimento</h2>
      <mat-form-field>
        <mat-label>País</mat-label>
        <input [value]="" type="text" placeholder="País" aria-label="Number" matInput
          formControlName="serviceAddressCountry" #professionalServiceAddressCountry [formControl]="myControl"
          [matAutocomplete]="contry" id="serviceAddressCountry">
        <mat-autocomplete #contry="matAutocomplete">
          <mat-option *ngFor="let country of filteredCountries | async" [value]="country">
            {{ country }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Estado</mat-label>
        <input [value]="" type="text" placeholder="Estado" aria-label="Number" matInput
          formControlName="serviceAddressState" #professionalServiceAddressState [formControl]="myControl"
          [matAutocomplete]="state" id="serviceAddressState">
        <mat-autocomplete #state="matAutocomplete">
          <mat-option *ngFor="let state of filteredStates | async" [value]="state">
            {{ state }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Cidade</mat-label>
        <input [value]="" type="text" placeholder="Cidade" aria-label="Number" matInput
          formControlName="serviceAddressCity" #professionalServiceAddressCity [formControl]="myControl"
          [matAutocomplete]="city" id="serviceAddressCity">
        <mat-autocomplete #city="matAutocomplete">
          <mat-option *ngFor="let city of filteredCitiesOfState | async" [value]="city">
            {{ city }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <mat-label>CEP</mat-label>
        <input [value]="" matInput [type]="'text'" class="form-control" formControlName="serviceAddressCep" placeholder="0000-0000">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Categoria de serviço</mat-label>
        <input [value]="" type="text" placeholder="Nome do seu serviço" aria-label="Number" matInput
          formControlName="serviceCategory" #professionalServiceCategory [formControl]="myControl"
          [matAutocomplete]="category">
        <mat-autocomplete #category="matAutocomplete">
          <mat-option *ngFor="let category of filteredCategories | async" [value]="category.name" [id]="category.id">
            {{ category.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Formas de atendimento</mat-label>
        <mat-select formControlName="serviceType">
          <mat-option [value]="1">
            Presencial
          </mat-option>
          <mat-option [value]="2">
            Remoto
          </mat-option>
          <mat-option [value]="3">
            Ambos
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Descrição do seu serviço</mat-label>
        <textarea matInput class="form-control" formControlName="serviceDescription" placeholder="Eu faço serviços de reformas residenciais em toda a região de...."></textarea>
      </mat-form-field>
      <mat-error *ngIf="formProfessional.invalid">{{this.errorMessage}}</mat-error>
      <app-button disabled="false">Confirmar</app-button>
    </form>
  </mat-tab>
  <mat-tab label="Company">
    <h2 class="title">Cadastro de empresa</h2>
    <form (ngSubmit)="registerCompany(formCompany)" [formGroup]="formCompany">
      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input [value]="" matInput class="form-control" formControlName="email" placeholder="seu.email@gmail.com">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Confirmação de E-mail</mat-label>
        <input [value]="" matInput class="form-control"
          formControlName="emailConfirmation" placeholder="seu.email@gmail.com">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input [value]="" matInput [type]="hide ? 'password' : 'text'" class="form-control" formControlName="password" placeholder="Senha@12356">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Confirmação da senha</mat-label>
        <input [value]="" matInput [type]="hideConfirmation ? 'password' : 'text'" class="form-control"
          formControlName="passwordConfirmation" placeholder="Senha@12356">
        <button mat-icon-button matSuffix (click)="hideConfirmation = !hideConfirmation"
          [attr.aria-label]="'HideConfirmation password'" [attr.aria-pressed]="hideConfirmation">
          <mat-icon>{{hideConfirmation ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nome</mat-label>
        <input [value]="" matInput [type]="'text'" class="form-control" formControlName="name" placeholder="Nome">
      </mat-form-field>
      <mat-form-field>
        <mat-label>CNPJ</mat-label>
        <input [value]="" matInput [type]="'text'" class="form-control" formControlName="cnpj" placeholder="00000000000000">
      </mat-form-field>
      <h2 class="title">Endereço</h2>
      <mat-form-field>
        <input [value]="" type="text" placeholder="Cidade" aria-label="Number" matInput formControlName="addressCity"
          #companyAddressCity [formControl]="myControl" [matAutocomplete]="city">
        <mat-autocomplete #city="matAutocomplete">
          <mat-option *ngFor="let city of filteredCitiesOfState | async" [value]="city">
            {{ city }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <input [value]="" type="text" placeholder="Estado" aria-label="Number" matInput formControlName="addressState"
          #companyAddressState [formControl]="myControl" [matAutocomplete]="state">
        <mat-autocomplete #state="matAutocomplete">
          <mat-option *ngFor="let state of filteredStates | async" [value]="state">
            {{ state }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <input [value]="" type="text" placeholder="País" aria-label="Number" matInput formControlName="addressCountry"
          #companyAddressCountry [formControl]="myControl" [matAutocomplete]="contry">
        <mat-autocomplete #contry="matAutocomplete">
          <mat-option *ngFor="let country of filteredCountries | async" [value]="country">
            {{ country }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Bairro</mat-label>
        <input [value]="" matInput [type]="'text'" class="form-control" formControlName="addressNeighborhood">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Rua</mat-label>
        <input [value]="" matInput [type]="'text'" class="form-control" formControlName="addressStreet">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Número</mat-label>
        <input [value]="" matInput [type]="'text'" class="form-control" formControlName="addressNumber">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Complemento</mat-label>
        <input [value]="" matInput [type]="'text'" class="form-control" formControlName="addressComplement">
      </mat-form-field>
      <mat-form-field>
        <mat-label>CEP</mat-label>
        <input [value]="" matInput [type]="'text'" class="form-control" formControlName="addressCep" placeholder="0000-0000">
      </mat-form-field>
      <h2 class="title">Área de atendimento</h2>
      <mat-form-field>
        <mat-label>País</mat-label>
        <input [value]="" type="text" placeholder="País" aria-label="Number" matInput
          formControlName="serviceAddressCountry" #companyServiceAddressCountry [formControl]="myControl"
          [matAutocomplete]="contry" id="serviceAddressCountry">
        <mat-autocomplete #contry="matAutocomplete">
          <mat-option *ngFor="let country of filteredCountries | async" [value]="country">
            {{ country }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Estado</mat-label>
        <input [value]="" type="text" placeholder="Estado" aria-label="Number" matInput
          formControlName="serviceAddressState" #companyServiceAddressState [formControl]="myControl"
          [matAutocomplete]="state" id="serviceAddressState">
        <mat-autocomplete #state="matAutocomplete">
          <mat-option *ngFor="let state of filteredStates | async" [value]="state">
            {{ state }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Cidade</mat-label>
        <input [value]="" type="text" placeholder="Cidade" aria-label="Number" matInput
          formControlName="serviceAddressCity" #companyServiceAddressCity [formControl]="myControl"
          [matAutocomplete]="city" id="serviceAddressCity">
        <mat-autocomplete #city="matAutocomplete">
          <mat-option *ngFor="let city of filteredCitiesOfState | async" [value]="city">
            {{ city }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <mat-label>CEP</mat-label>
        <input [value]="" matInput [type]="'text'" class="form-control" formControlName="serviceAddressCep" placeholder="0000-0000">
      </mat-form-field>
      <mat-form-field>
        <input [value]="" type="text" placeholder="Nome do seu serviço" aria-label="Number" matInput
          formControlName="serviceCategory" [formControl]="myControl" [matAutocomplete]="category">
        <mat-autocomplete #category="matAutocomplete">
          <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
            {{ category }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Formas de atendimento</mat-label>
        <mat-select formControlName="serviceType">
          <mat-option [value]="1">
            Presencial
          </mat-option>
          <mat-option [value]="2">
            Remoto
          </mat-option>
          <mat-option [value]="3">
            Ambos
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Descrição do seu serviço</mat-label>
        <textarea matInput class="form-control" formControlName="serviceDescription" placeholder="Eu faço serviços de reformas residenciais em toda a região de...."></textarea>
      </mat-form-field>
      <mat-error *ngIf="formCompany.invalid">{{this.errorMessage}}</mat-error>
      <app-button disabled="false">Confirmar</app-button>
    </form>
  </mat-tab>
</mat-tab-group>
