<nav class="switch-language-nav nav-container">
  <span>{{ "switch_language_title" | translate }}: </span>
  <span (click)="switchLanguage('pt-br')" class="nav-item link" [class.active]="isActive('pt-br')">
    {{ "portuguese" | translate }}
  </span>
  <span (click)="switchLanguage('en')" class="nav-item link" [class.active]="isActive('en')">
    | {{ "english" | translate }}
  </span>
  <span (click)="switchLanguage('es')" class="nav-item link" [class.active]="isActive('es')">
    | {{ "spanish" | translate }}
  </span>
</nav>
