<section class="user-registration" *ngIf="questionToManage">
  <app-container>
    <h2 class="text-center">{{ "title_question_registration" | translatePipe }}</h2>
    <form class="form text-center" (ngSubmit)="updateQuestion(questionToManage, userAdminId)"
      #registrationForm="ngForm">
      <app-fieldset [content_style]="'row'">
        <!-- Campo pergunta -->
        <div class="form-group">
          <legend>
            {{ "question_label" | translatePipe }} <span class="required">*</span>
          </legend>
          <input type="text" id="question" [(ngModel)]="questionToManage.question" name="question"
            autocomplete="current-question" required [attr.aria-invalid]="
             questionToManage.question && questionToManage.question.trim() === ''
                ? 'true'
                : 'false'
            " />
        </div>

        <!-- Campo exemplo -->
        <div class="form-group">
          <legend>
            {{ "example_label" | translatePipe }} <span class="required">*</span>
          </legend>
          <input type="text" id="example" [(ngModel)]="questionToManage.example" name="example"
            autocomplete="current-example" required [attr.aria-invalid]="
             questionToManage.example && questionToManage.example.trim() === ''
                ? 'true'
                : 'false'
            " />
        </div>

        <!-- Campo frequência -->
        <div class="form-group">
          <legend>
            {{ "frequency_label" | translatePipe }} <span class="required">*</span>
          </legend>
          <input type="text" id="frequency" [(ngModel)]="questionToManage.frequency" name="frequency"
            autocomplete="current-frequency" required [attr.aria-invalid]="
             questionToManage.frequency && questionToManage.frequency.trim() === ''
                ? 'true'
                : 'false'
            " />
        </div>

        <!-- Campo contexto -->
        <div class="form-group">
          <legend>
            {{ "context_label" | translatePipe }} <span class="required">*</span>
          </legend>
          <input type="text" id="context" [(ngModel)]="questionToManage.context" name="context"
            autocomplete="current-context" required [attr.aria-invalid]="
             questionToManage.context && questionToManage.context.trim() === ''
                ? 'true'
                : 'false'
            " />
        </div>

        <!-- Campo área  -->
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Escolha suas opções</mat-label>
            <mat-select [(ngModel)]="questionToManage.area" multiple>
              <mat-option *ngFor="let questionArea of questionAreaOptions" [value]="questionArea">
                {{ questionArea | translateOrReturnKeyPipe }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="buttons">
          <app-button [className]="'secundary'" (click)="updateQuestion(questionToManage, userAdminId)">
            {{ "register" | translatePipe }}
          </app-button>
        </div>
      </app-fieldset>
    </form>
  </app-container>
</section>
