<section class="question-manage" *ngIf="questionToManage">
  <app-container>
    <h2 class="text-center">{{ "title_question_manager" | translatePipe }}</h2>
    <form class="form text-center" (ngSubmit)="update(questionToManage, userAdminId)" #registrationForm="ngForm">
      <app-fieldset [content_style]="'row'">
        <!-- Lista de perguntas por idioma -->
        <div *ngFor="let question of questionToManage.questions; let i = index" class="question-entry form-big-group">
          <hr>
          <h3 class="text-center">{{"question" | translateOrReturnKeyPipe }} {{i + 1}}</h3>
          <!-- Campo linguagem -->
          <div class="form-group">
            <label for="language-{{ i }}">{{ "language_label" | translatePipe }}<span class="required">*</span></label>
            <select [(ngModel)]="question.language" [ngModelOptions]="{ standalone: true }" name="language-{{ i }}"
              class="form-control" required>
              <option *ngFor="let language of languages" [ngValue]="language">
                {{ language.name | translatePipe }}
              </option>
            </select>
          </div>

          <!-- Campo pergunta -->
          <div class="form-group">
            <label for="question-{{ i }}">{{ "question_label" | translatePipe }}<span class="required">*</span></label>
            <input type="text" [(ngModel)]="question.question" [ngModelOptions]="{ standalone: true }"
              name="question-{{ i }}" class="form-control" required />
          </div>

          <!-- Campo exemplo -->
          <div class="form-group">
            <legend>{{ "example_label" | translatePipe }} <span class="required">*</span></legend>
            <input type="text" id="example" [(ngModel)]="question.example" name="example" required
              [attr.aria-invalid]="question.example.trim() === '' ? 'true' : 'false'" />
          </div>

          <!-- Campo frequência -->
          <div class="form-group">
            <legend>{{ "frequency_label" | translatePipe }} <span class="required">*</span></legend>
            <input type="text" id="frequency" [(ngModel)]="question.frequency" name="frequency" required
              [attr.aria-invalid]="question.frequency.trim() === '' ? 'true' : 'false'" />
          </div>

          <!-- Campo contexto -->
          <div class="form-group">
            <legend>{{ "context_label" | translatePipe }} <span class="required">*</span></legend>
            <input type="text" id="context" [(ngModel)]="question.context" name="context" required
              [attr.aria-invalid]="question.context.trim() === '' ? 'true' : 'false'" />
          </div>

          <div class="form-group buttons">
            <app-button [className]="'secundary'" (click)="addQuestion()">
              +
            </app-button>
            <app-button [className]="'secundary grey'" (click)="removeQuestion(i)">
              x
            </app-button>
          </div>
        </div>

        <!-- Campo área -->
        <div class="form-group" *ngIf="questionToManage.area">
          <legend>{{ "area_label" | translatePipe }} <span class="required">*</span></legend>
          <div class="custom-dropdown" (click)="toggleDropdown()">
            <div class="selected-options">
              <span class="selected" *ngFor="let selected of questionToManage.area">
                {{ selected | translateOrReturnKeyPipe }}
              </span>
              <span class="none" *ngIf="questionToManage.area.length <= 0">{{ "select" | translatePipe }}</span>
            </div>
            <ul class="dropdown-options" *ngIf="dropdownOpen">
              <li *ngFor="let questionArea of questionAreaOptions">
                <label>
                  <input class="input" type="checkbox" [value]="questionArea"
                    (change)="onSelectionChange($event, questionArea)"
                    [checked]="questionToManage.area.includes(questionArea)" />
                  <span class="label">{{ questionArea | translateOrReturnKeyPipe }}</span>
                </label>
              </li>
            </ul>
          </div>
        </div>
      </app-fieldset>

      <div class="form-group buttons">
        <app-button [className]="'secundary'" (click)="update(questionToManage, userAdminId)"
          [disabled]="!isFormValid() || !isFormAreaSelectedValid()">
          {{ "register" | translatePipe }}
        </app-button>
      </div>
      <hr>
    </form>
  </app-container>
</section>
