<section class="user-registration" *ngIf="question">
  <app-container>
    <h2 class="text-center">{{ "title_question_registration" | translatePipe }}</h2>
    <form class="form text-center" (ngSubmit)="registerQuestion()" #registrationForm="ngForm">
      <app-fieldset [content_style]="'row'">
        <!-- Campo pergunta -->
        <div class="form-group">
          <legend>
            {{ "question_label" | translatePipe }} <span class="required">*</span>
          </legend>
          <input type="text" id="question" [(ngModel)]="question.question" name="question"
            autocomplete="current-question" required [attr.aria-invalid]="
              question.question && question.question.trim() === ''
                ? 'true'
                : 'false'
            " />
        </div>

        <!-- Campo exemplo -->
        <div class="form-group">
          <legend>
            {{ "example_label" | translatePipe }} <span class="required">*</span>
          </legend>
          <input type="text" id="example" [(ngModel)]="question.example" name="example" autocomplete="current-example"
            required [attr.aria-invalid]="
              question.example && question.example.trim() === ''
                ? 'true'
                : 'false'
            " />
        </div>

        <!-- Campo frequência -->
        <div class="form-group">
          <legend>
            {{ "frequency_label" | translatePipe }} <span class="required">*</span>
          </legend>
          <input type="text" id="frequency" [(ngModel)]="question.frequency" name="frequency"
            autocomplete="current-frequency" required [attr.aria-invalid]="
              question.frequency && question.frequency.trim() === ''
                ? 'true'
                : 'false'
            " />
        </div>

        <!-- Campo contexto -->
        <div class="form-group">
          <legend>
            {{ "context_label" | translatePipe }} <span class="required">*</span>
          </legend>
          <input type="text" id="context" [(ngModel)]="question.context" name="context" autocomplete="current-context"
            required [attr.aria-invalid]="
              question.context && question.context.trim() === ''
                ? 'true'
                : 'false'
            " />
        </div>

        <!-- Campo área  -->
        <div class="form-group">
          <legend>{{ "area_label" | translatePipe }}</legend>
          <select id="area" [(ngModel)]="question.area" name="area">
            <option [value]="questionArea" *ngFor="let questionArea of questionAreaOptions">
              {{ questionArea | translateOrReturnKeyPipe }}
            </option>
          </select>
        </div>
      </app-fieldset>

      <div class="buttons">
        <app-button [className]="'secundary'" (click)="registerQuestion()">
          {{ "register" | translatePipe }}
        </app-button>
      </div>
    </form>
  </app-container>
</section>
