@import "../../../../../user/components/user-register/user-register.component.css";

.form-big-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.form-group {
  flex: 0 0 33%;
}

.custom-dropdown {
  position: relative;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  background: #fff;
  padding: 10px;
}

.selected-options {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.selected-options span {
  background: #8f36a7;
  color: white;
  padding: 3px 8px;
  border-radius: 12px;
  font-size: 14px;
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-options .label,
.dropdown-options .input {
  display: inline-block;
}

.dropdown-options li {
  display: flex;
  align-items: center;
}

.dropdown-options label {
  cursor: pointer;
  width: 100%;
  margin: 1px;
}

.dropdown-options input {
  margin-right: 8px;
  width: 20px;
}

form {
  padding: 20px;
}
