<div class="container">
  <section class="section intro">
    <h1 class="title">Encontre os melhores profissionais próximos de você</h1>
  </section>
  <section class="section search-profissional">
    <form class="search-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Quero buscar serviços de..." value="">
      </mat-form-field>
      <button mat-stroked-button class="inline">Buscar</button>
    </form>
  </section>
  <section class="section search-profissional-results">
    <div class="col-sm-12">
      <div class="col-sm-2 col-md-3 col-lg-4 inline">
        <mat-card class="card">
          <mat-card-content>
            <picture class="picture background-image" style="background-image: url('');">
            </picture>
            <h3 class="title">Hospital do Iphone</h3>
            <small class="small address">Rua São Paulo, 132</small>
            <span class="social-icons">
              <a class="social-icon whatspp" href="" target="_blank" title="Whatsapp do professional"
                aria-label="Whatsapp do professional">
                <mat-icon aria-hidden="false" aria-label="Whatsapp do professional" fontIcon="whatsapp"></mat-icon>
              </a>
              <a class="social-icon instagram" href="" target="_blank" title="Instagram do professional"
                aria-label="Instagram do professional">
                <mat-icon aria-hidden="false" aria-label="Instagram do professional" fontIcon="instagram"></mat-icon>
              </a>
              <a class="social-icon email" href="" target="_blank" title="E-mail do professional"
                aria-label="E-mail do professional">
                <mat-icon aria-hidden="false" aria-label="E-mail do professional" fontIcon="email"></mat-icon>
              </a>
            </span>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-sm-2 col-md-3 col-lg-4 inline">
        <mat-card class="card">
          <mat-card-content>
            <picture class="picture background-image" style="background-image: url('');">
            </picture>
            <h3 class="title">Hospital do Iphone</h3>
            <small class="small address">Rua São Paulo, 132</small>
            <span class="social-icons">
              <a class="social-icon whatspp" href="" target="_blank" title="Whatsapp do professional"
                aria-label="Whatsapp do professional">
                <mat-icon aria-hidden="false" aria-label="Whatsapp do professional" fontIcon="whatsapp"></mat-icon>
              </a>
              <a class="social-icon instagram" href="" target="_blank" title="Instagram do professional"
                aria-label="Instagram do professional">
                <mat-icon aria-hidden="false" aria-label="Instagram do professional" fontIcon="instagram"></mat-icon>
              </a>
              <a class="social-icon email" href="" target="_blank" title="E-mail do professional"
                aria-label="E-mail do professional">
                <mat-icon aria-hidden="false" aria-label="E-mail do professional" fontIcon="email"></mat-icon>
              </a>
            </span>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <mat-paginator [length]="100" [pageSize]="6" [pageSizeOptions]="[6, 9, 30, 100]" aria-label="Selecione a página">
    </mat-paginator>
  </section>
  <section class="section how-works">

  </section>
  <section class="section best-categories">

  </section>
</div>
