<main class="page-home">
  <div class="container">
    <section class="section intro">
      <h1>{{this.projectTitle}}</h1>
      <h2 class="subtitle">Encontre os melhores profissionais próximos de você</h2>
    </section>
    <section class="section search-profissional">
      <form class="search-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Quero buscar serviços de..." value="">
        </mat-form-field>
        <button mat-stroked-button class="inline button">Buscar</button>
      </form>
    </section>
    <section class="section search-profissional-results">
      <div class="col-sm-12">
        <div class="col-sm-2 col-md-3 col-lg-4 inline">
          <a href="/profissional/hospital-do-iphone" class="link">
            <mat-card class="card">
              <mat-card-content>
                <picture class="picture background-image" style="background-image: url('');">
                </picture>
                <h3 class="title">Hospital do Iphone</h3>
                <small class="small address">Rua São Paulo, 132</small>
                <span class="social-icons">
                  <a class="social-icon whatspp" href="" target="_blank" title="Whatsapp do professional"
                    aria-label="Whatsapp do professional">
                    <mat-icon aria-hidden="false" aria-label="Whatsapp do professional" fontIcon="whatsapp"></mat-icon>
                  </a>
                  <a class="social-icon instagram" href="" target="_blank" title="Instagram do professional"
                    aria-label="Instagram do professional">
                    <mat-icon aria-hidden="false" aria-label="Instagram do professional"
                      fontIcon="instagram"></mat-icon>
                  </a>
                  <a class="social-icon email" href="" target="_blank" title="E-mail do professional"
                    aria-label="E-mail do professional">
                    <mat-icon aria-hidden="false" aria-label="E-mail do professional" fontIcon="email"></mat-icon>
                  </a>
                </span>
              </mat-card-content>
            </mat-card>
          </a>
        </div>
        <div class="col-sm-2 col-md-3 col-lg-4 inline">
          <a href="/profissional/maria-de-cassia" class="link">
            <mat-card class="card">
              <mat-card-content>
                <picture class="picture background-image" style="background-image: url('');">
                </picture>
                <h3 class="title">Hospital do Iphone</h3>
                <small class="small address">Rua São Paulo, 132</small>
                <span class="social-icons">
                  <a class="social-icon whatspp" href="" target="_blank" title="Whatsapp do professional"
                    aria-label="Whatsapp do professional">
                    <mat-icon aria-hidden="false" aria-label="Whatsapp do professional" fontIcon="whatsapp"></mat-icon>
                  </a>
                  <a class="social-icon instagram" href="" target="_blank" title="Instagram do professional"
                    aria-label="Instagram do professional">
                    <mat-icon aria-hidden="false" aria-label="Instagram do professional"
                      fontIcon="instagram"></mat-icon>
                  </a>
                  <a class="social-icon email" href="" target="_blank" title="E-mail do professional"
                    aria-label="E-mail do professional">
                    <mat-icon aria-hidden="false" aria-label="E-mail do professional" fontIcon="email"></mat-icon>
                  </a>
                </span>
              </mat-card-content>
            </mat-card>
          </a>
        </div>
      </div>
      <mat-paginator [length]="100" [pageSize]="6" [pageSizeOptions]="[6, 9, 30, 100]" aria-label="Selecione a página">
      </mat-paginator>
    </section>
    <section class="section best-categories">
      <div class="col-sm-12">
        <h1 class="main-title">Principais serviços</h1>
        <div class="col-sm-2 col-md-3 col-lg-4 inline">
          <a href="/categoria/montagem-imoveis" class="link">
            <mat-card class="card">
              <mat-card-content>
                <picture class="picture background-image" style="background-image: url('../../../assets/images/category/montagem-moveis.png');" alt="Montagem de imóveis">
                </picture>
                <h3 class="title">Montagem de imóveis</h3>
                <button mat-stroked-button class="inline button">Ver mais</button>
              </mat-card-content>
            </mat-card>
          </a>
        </div>
        <div class="col-sm-2 col-md-3 col-lg-4 inline">
          <a href="/categoria/reparos-residenciais" class="link">
            <mat-card class="card">
              <mat-card-content>
                <picture class="picture background-image" style="background-image: url('../../../assets/images/category/reparos-residenciais.png');" alt="Reparos residenciais">
                </picture>
                <h3 class="title">Reparos residenciais</h3>
                <button mat-stroked-button class="inline button">Ver mais</button>
              </mat-card-content>
            </mat-card>
          </a>
        </div>
        <div class="col-sm-2 col-md-3 col-lg-4 inline">
          <a href="/categoria/servicos-limpeza" class="link">
            <mat-card class="card">
              <mat-card-content>
                <picture class="picture background-image" style="background-image: url('../../../assets/images/category/servicos-limpeza.png');" alt="Serviços de limpeza">
                </picture>
                <h3 class="title">Serviços de limpeza</h3>
                <button mat-stroked-button class="inline button">Ver mais</button>
              </mat-card-content>
            </mat-card>
          </a>
        </div>
      </div>
    </section>
    <section class="section how-works">
      <div class="col-sm-12">
        <h1 class="main-title">O que é o {{this.projectTitle}} ?</h1>
        <h2 class="title">Facilitamos a sua busca do melhor prestador de serviço mais próximo de sua região!</h2>
        <div class="col-sm-2 col-md-3 col-lg-4 inline">
          <img src="../../../assets/images/home/professional-search.png" alt="Busque pelo profissional">
          <h2 class="title">Busque pelo professional</h2>
          <h2 class="sub-title">Tenha acesso rapidamente a vários prestadores de serviços para atender a sua necessidade.</h2>
        </div>
        <div class="col-sm-2 col-md-3 col-lg-4 inline">
          <img src="../../../assets/images/home/professional-get-in-contact.png" alt="Entre em contato direto com o profissional">
          <h2 class="title">Entre em contato direto com o profissional</h2>
          <h2 class="sub-title">Obtenha todas as informações de contato do prestador de serviço rapidamente!</h2>
        </div>
        <div class="col-sm-2 col-md-3 col-lg-4 inline">
          <img src="../../../assets/images/home/professional-talk.png" alt="Explique sua demanda">
          <h2 class="title">Explique sua demanda</h2>
          <h2 class="sub-title">Converse diretamente com o prestador de serviço e negocie facilmente.</h2>
        </div>
      </div>
    </section>
    <section class="section about">
      <div class="col-sm-6">
        <img src="" alt="">
      </div>
      <div class="col-sm-6">
        <h1 class="main-title">Sobre o {{this.projectTitle}} ?</h1>
        <p class="text">
          O {{this.projectTitle}} nasceu em 2023 para facilitar o contato do cliente com o prestador de serviço mais próximo de sua região, facilitando assim a busca e o contato entre quem precisa do serviço.
        </p>
      </div>
    </section>
  </div>
</main>
