<section class="user-profile" *ngIf="user">
  <app-container>
    <h2>{{ "page_profile_title" | translate }}</h2>
    <form class="form text-center" (ngSubmit)="updateUserData()" #profileForm="ngForm">
      <app-fieldset>
        <!-- Campo nome -->
        <div class="form-group">
          <legend>{{ "name_label" | translate }} *</legend>
          <input type="text" id="displayName" [(ngModel)]="user.displayName" name="displayName"
            autocomplete="current-displayName" required
            [attr.aria-invalid]="user.displayName && user.displayName.trim() === '' ? 'true' : 'false'" />
          <app-error-message *ngIf="user.displayName && user.displayName.trim() === '' && submitted"
            aria-live="assertive">
            {{ 'field_required' | translate }}
          </app-error-message>
        </div>

        <!-- Campo E-mail -->
        <div class="form-group">
          <legend>{{ "email_label" | translate }} *</legend>
          <input type="email" id="email" [(ngModel)]="user.email" name="email" required
            [attr.aria-invalid]="user.email && !validEmail(user.email) ? 'true' : 'false'" />
          <app-error-message *ngIf="!validEmail(user.email) && submitted" aria-live="assertive">
            {{ 'invalid_email' | translate }}
          </app-error-message>
        </div>

        <!-- Campo Senha -->
        <!-- <div class="form-group">
          <legend>{{ "password_label" | translate }} *</legend>
          <input type="password" id="password" [(ngModel)]="user.password" name="password"
            autocomplete="current-password" required
            [attr.aria-invalid]="user.password && user.password.trim() === '' ? 'true' : 'false'" />
          <app-error-message *ngIf="user.password && user.password.trim() === '' && submitted" aria-live="assertive">
            {{ 'field_required' | translate }}
          </app-error-message>
        </div> -->

        <!-- Campo data de nascimento  -->
        <div class="form-group">
          <legend>{{ "birthdate_label" | translate }}</legend>
          <input type="text" id="birthdate" [(ngModel)]="user.birthdate" name="birthdate"
            autocomplete="current-birthdate"
            [attr.aria-invalid]="user.birthdate && user.birthdate.trim() === '' ? 'true' : 'false'" />
          <app-error-message *ngIf="user.birthdate && user.birthdate.trim() === '' && submitted" aria-live="assertive">
            {{ 'field_required' | translate }}
          </app-error-message>
        </div>

        <!-- Campo ocupação  -->
        <div class="form-group">
          <legend>{{ "ocupation_label" | translate }}</legend>
          <input type="text" id="ocupation" [(ngModel)]="user.ocupation" name="ocupation"
            autocomplete="current-ocupation"
            [attr.aria-invalid]="user.ocupation && user.ocupation.trim() === '' ? 'true' : 'false'" />
          <app-error-message *ngIf="user.ocupation && user.ocupation.trim() === '' && submitted" aria-live="assertive">
            {{ 'field_required' | translate }}
          </app-error-message>
        </div>

        <!-- Campo escolaridade  -->
        <div class="form-group">
          <legend>{{ "education_level_label" | translate }}</legend>
          <input type="text" id="educationLevel" [(ngModel)]="user.educationLevel" name="educationLevel"
            autocomplete="current-educationLevel"
            [attr.aria-invalid]="user.educationLevel && user.educationLevel.trim() === '' ? 'true' : 'false'" />
          <app-error-message *ngIf="user.educationLevel && user.educationLevel.trim() === '' && submitted"
            aria-live="assertive">
            {{ 'field_required' | translate }}
          </app-error-message>
        </div>
      </app-fieldset>

      <app-button [disabled]="!isFormValid()" (click)="updateUserData()">
        {{ "update" | translate }}
      </app-button>
    </form>
  </app-container>
</section>
