<p>header works!</p>
<nav>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
    <li><a routerLink="/categorias" routerLinkActive="active" ariaCurrentWhenActive="page">Categorias</a></li>
    <li><a routerLink="/registro" routerLinkActive="active" ariaCurrentWhenActive="page">Registro</a></li>
    <li><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a></li>
    <li><a routerLink="/contato" routerLinkActive="active" ariaCurrentWhenActive="page">Contato</a></li>
  </ul>
</nav>
