<section class="quiz">
  <app-container class="questions">
    <form *ngIf="this.questions && this.questions.length > 0">
      <h2 class="text-center" *ngIf="this.currentStep < this.maxSteps">{{ "title_quiz" | translatePipe }}</h2>
      <h3 class="text-center" *ngIf="this.currentStep < this.maxSteps">
        {{ "part" | translatePipe }} {{ this.currentStep + 1 }} /
        {{ this.maxSteps }}
      </h3>
      <!-- Exibir perguntas da etapa atual -->
      <div class="question" *ngFor="let question of getQuestionsForStep(); let i = index">
        <hr />
        <app-fieldset [class.strikethrough]="
            question.response !== '' &&
            question.response !== null &&
            question.response !== undefined
          ">
          <h4>{{ question.question }}</h4>
          <p>
            <em>{{ question.example }}</em>
          </p>
          <p>{{ question.frequency_and_context }}</p>

          <div class="aswer">
            <label>
              <input type="radio" [(ngModel)]="question.response" [value]="true" name="response{{ i }}"
                (blur)="checkAnswer(question)" />
              <span id="yes-option-{{ i }}">{{ "yes" | translatePipe }}</span>
            </label>

            <label>
              <input type="radio" [(ngModel)]="question.response" [value]="false" name="response{{ i }}"
                (blur)="checkAnswer(question)" />
              <span id="no-option-{{ i }}">{{ "no" | translatePipe }}</span>
            </label>
          </div>
        </app-fieldset>
      </div>

      <!-- Botões de navegação -->
      <div class="buttons send action" *ngIf="this.currentStep < this.maxSteps">
        <app-button *ngIf="this.currentStep < this.maxSteps" (click)="nextStep()" [className]="'secundary'"
          [disabled]="!isFormValid()">
          {{ "next" | translatePipe }}
        </app-button>
        <app-button *ngIf="this.currentStep >= 1 && this.currentStep <= this.maxSteps" (click)="backStep()"
          [className]="'secundary'">
          {{ "back" | translatePipe }}
        </app-button>
      </div>

      <div class="send action" *ngIf="this.currentStep >= this.maxSteps">
        <h3 class="text-center">{{ "title_quiz_send" | translatePipe }}</h3>
        <div class="buttons">
          <app-button [disabled]="!isFormValid()" (click)="submitAnswers()" [className]="'secundary'">
            {{ "calculate_results" | translatePipe }}
          </app-button>
          <app-button *ngIf="this.currentStep >= 1 && this.currentStep <= this.maxSteps" (click)="backStep()"
            [className]="'secundary'">
            {{ "revise_quiz" | translatePipe }}
          </app-button>
        </div>
      </div>
    </form>
  </app-container>
</section>
