button {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  width: 100%;
  max-width: 150px;
  font-weight: bold;
  margin: 0 auto;
  display: block;
}

button:hover {
  background-color: #357ABD;
  transform: scale(1.05);
}

:disabled {
  cursor: auto;
  opacity: 0.5;
}
