<footer class="footer row">
  <div class="col-sm-6">
    <img src="" alt="" class="logo">
    <small class="whatsapp">47-999571726</small>
    <small class="email">contato@busqueservicos.com.br</small>
  </div>
  <div class="col-sm-6">
    <h2 class="title">Institucional</h2>
    <a href="/politica-privacidade" class="link">Política de privacidade</a>
    <a href="/termos-de-uso" class="link">Termos de uso</a>
  </div>
  <div class="col-sm-12">
    <small class="copyright">Copyright 2023 Busque Serviços - Todos os direitos reservados</small>
  </div>
</footer>
