.gif-link,
.pagination {
  display: block;
}

.gif-link,
.big-title {
  margin-bottom: 20px;
}

.pagination {
  text-align: center;
  margin-top: 10px;
}

.ngx-pagination {
  margin-bottom: 0 !important;
}

.not-found {
  height: 250px;
}

.results-list {
  height: 280px;
}

.not-found {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {

  .not-found {
    height: 380px;
  }
}
