.background-image {
  height: 90px;
  width: 150px;
  display: block;
  margin: auto;
  background-size: cover;
}

.caption {
  font-size: 0.875rem;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
