.background-image,
img {
  height: 100px;
}

.background-image,
picture,
img {
  display: block;
  margin: auto;
}

.background-image {
  background-size: cover;
}

.caption {
  font-size: 0.875rem;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
