<ng-container *ngIf="isValidUrl(url) === true; else noLinkContent">
  <a [href]="url" class="link" target="_blank">
    <ng-container *ngTemplateOutlet="figureContent"></ng-container>
  </a>
</ng-container>

<ng-template #noLinkContent>
  <ng-container *ngTemplateOutlet="figureContent"></ng-container>
</ng-template>

<ng-template #figureContent>
  <figure>
    <img
      class="picture {{ class }}"
      [src]="urlPreview"
      [alt]="alt || title"
      loading="lazy"
    />
    <figcaption class="caption">{{ title }}</figcaption>
  </figure>
</ng-template>
