<form (ngSubmit)="loginUser($event)" [formGroup]="form">
  <mat-form-field>
    <mat-label>E-mail</mat-label>
    <input matInput placeholder="pat@example.com" required class="form-control" formControlName="emailField">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Senha</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" required class="form-control" formControlName="passwordField">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <p class="text">Recupere sua senha <app-link link="/password-reset" target="_blank"
      title="Reset sua senha aqui">aqui</app-link></p>
      <mat-error *ngIf="form.invalid">{{getErrorMessage()}}</mat-error>
  <app-button>Entrar</app-button>
</form>
