<main class="page-category">
  <div class="container">
    <section class="section intro">
      <div class="row">
        <div class="col-sm-12 col-lg-6" id={{this.componentParams[0].id}}>
          <h1 class="main-title">{{this.componentParams[0].name}}</h1>
          <p class="description">{{this.componentParams[0].description}}</p>
        </div>
        <div class="col-sm-12 col-lg-6">
          <app-background-image #backgroundImageComponent [link]="this.componentParams[0].images[0].link"
            [title]="this.componentParams[0].images[0].title">
          </app-background-image>
        </div>
      </div>
    </section>
    <section class="section related-categories">
      <h2 class="title">Subcategorias</h2>
      <div class="row">
        <div class="col-sm-2 col-md-3 col-lg-4 inline"
          *ngFor="let relatedCategory of this.componentParams[0].relatedCategories; let relatedCategoryIndex=index">
          <a [routerLink]="['/categoria/', relatedCategory.slug]" id={{relatedCategory.id}} class="link">
            <mat-card class="card">
              <mat-card-content>
                <app-background-image #backgroundImageComponent [link]="relatedCategory.images[0].link"
                  [title]="relatedCategory.images[0].title">
                </app-background-image>
                <h2 class="title">{{relatedCategory.name}}</h2>
                <p class="description">{{relatedCategory.description}}</p>
              </mat-card-content>
            </mat-card>
          </a>
        </div>
      </div>
    </section>
    <section class="all-professionals">
      <div class="col-sm-2 col-md-3 col-lg-4 inline"
          *ngFor="let professional of this.componentParams[0].professionals; let professionalIndex=index">
          <a [routerLink]="['/profissional/', professional.slug]" id={{professional.id}} class="link">
            <mat-card class="card">
              <mat-card-content>
                <app-background-image #backgroundImageComponent [link]="professional.images[0].link"
                  [title]="professional.images[0].title">
                </app-background-image>
                <h1 class="main-title">{{professional.name}}</h1>
                <p class="description">{{professional.description}}</p>
                <div class="service-type">
                  <h2 class="title">Formas de atendimento</h2>
                  <p class="text">{{professional.serviceType}}</p>
                </div>
                <div class="service-area">
                  <h2 class="title">Área de atendimento</h2>
                  <div *ngIf="professional.serviceArea.neighborhood; else noNeighborhood">
                    <p class="text">{{professional.serviceArea.state}} -
                      {{professional.serviceArea.city}} - {{professional.serviceArea.neighborhood}}</p>
                  </div>
                  <div *ngIf="noNeighborhood">
                    <p class="text">{{professional.serviceArea.state}} -
                      {{professional.serviceArea.city}}</p>
                  </div>
                </div>
                <app-button>Ver mais</app-button>
              </mat-card-content>
            </mat-card>
          </a>
        </div>
    </section>
  </div>
</main>
