<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="content">
    <input id="term" formControlName="term" type="text" [placeholder]="'Type the term to search' | transloco" />

    <button type="submit" [disabled]="
      form.get('term')?.invalid || form.get('term')?.value.trim() === ''
    ">
      {{ "Search" | transloco }}
    </button>
  </div>


  <div class="error-message" *ngIf="
      form.get('term')?.invalid &&
      (form.get('term')?.dirty || form.get('term')?.touched)
    ">
    <small *ngIf="form.get('term')?.errors?.['required']">{{ "Value is required" | transloco }}.</small>
    <small *ngIf="form.get('term')?.errors?.['minlength']">{{ "Value must be at least 1 character long" | transloco
      }}.</small>
    <small *ngIf="form.get('term')?.errors?.['maxlength']">{{ "Value must be at most 10 characters long" | transloco
      }}.</small>
  </div>
</form>
