button {
  padding: 8px 15px;
  cursor: pointer;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 16px;
  border-radius: 5px;
  height: 35px;
  box-sizing: content-box
}

button:hover {
  transform: scale(1.05);
}

.button {
  transition: background-color 0.3s, transform 0.2s;
  max-width: 250px;
}

:disabled {
  cursor: auto;
  opacity: 0.5;
}

:disabled:hover {
  transition: none;
  transform: none;
}

.link {
  background-color: transparent;
  border: none;
}

.primary {
  border-color: transparent;
}

.primary,
.secundary:hover {
  background-color: #8f36a7;
  color: #FFFFFF;
}

.secundary {
  color: #8f36a7;
  border-color: #8f36a7;
}

.secundary,
.red,
.grey {
  background-color: transparent;
}

.red {
  color: red;
  border-color: red;
}

.grey {
  color: grey;
  border-color: grey;
}

.red:hover {
  background-color: red;
}

.grey:hover {
  background-color: grey;
}

.grey:hover,
.red:hover {
  color: #ffffff;
}
