.form {
  background-color: #f2f2f2;
}

.form-group {
  flex: 0 0 48%;
  margin-bottom: 16px;
}

.form-group input,
.form-group select {
  width: 100%;
}

@media (max-width: 768px) {
  .form-group {
    flex: 0 0 100%;
  }
}
