<section class="user-registration" *ngIf="user">
  <app-container>
    <h2 class="text-center">{{ "title_user_registration" | translate }}</h2>
    <form class="form text-center" (ngSubmit)="registerUser()" #registrationForm="ngForm">
      <app-fieldset [content_style]="'row'">
        <div class="form-group">
          <!-- Campo nome -->
          <legend>
            {{ "name_label" | translate }} <span class="required">*</span>
          </legend>
          <input type="text" id="displayName" [(ngModel)]="user.displayName" name="displayName"
            autocomplete="current-displayName" required [attr.aria-invalid]="
              user.displayName && user.displayName.trim() === ''
                ? 'true'
                : 'false'
            " />
          <app-error-message *ngIf="
              user.displayName && user.displayName.trim() === '' && submitted
            " aria-live="assertive">
            {{ "field_required" | translate }}
          </app-error-message>
        </div>

        <div class="form-group">
          <!-- Campo E-mail -->
          <legend>
            {{ "email_label" | translate }} <span class="required">*</span>
          </legend>
          <input type="email" id="email" [(ngModel)]="user.email" name="email" required [attr.aria-invalid]="
              user.email && !validEmail(user.email) ? 'true' : 'false'
            " />
          <app-error-message *ngIf="!validEmail(user.email) && submitted" aria-live="assertive">
            {{ "invalid_email" | translate }}
          </app-error-message>
        </div>

        <div class="form-group">
          <!-- Campo Senha -->
          <legend>
            {{ "password_label" | translate }} <span class="required">*</span>
          </legend>
          <input type="password" id="password" [(ngModel)]="user.password" name="password"
            autocomplete="current-password" required [attr.aria-invalid]="
              user.password && user.password.trim() === '' ? 'true' : 'false'
            " />
          <app-error-message *ngIf="user.password && user.password.trim() === '' && submitted" aria-live="assertive">
            {{ "field_required" | translate }}
          </app-error-message>
        </div>

        <!-- Campo gênero  -->
        <div class="form-group">
          <legend>
            {{ "gender_label" | translate }} <span class="required">*</span>
          </legend>
          <select id="gender" [(ngModel)]="user.gender" name="gender" required>
            <option [value]="gender" *ngFor="let gender of genderOptions">
              {{ gender | translate }}
            </option>
          </select>
        </div>

        <!-- Campo data de nascimento  -->
        <div class="form-group">
          <legend>{{ "birthdate_label" | translate }}</legend>
          <input type="text" id="birthdate" [(ngModel)]="user.birthdate" name="birthdate"
            autocomplete="current-birthdate" [attr.aria-invalid]="
              user.birthdate && !validDate(user.birthdate) && submitted
                ? 'true'
                : 'false'
            " />
          <app-error-message *ngIf="              user.birthdate && !validDate(user.birthdate) && submitted
            " aria-live="assertive">
            {{ "invalid_birthdate" | translate }}s
          </app-error-message>
        </div>

        <!-- Campo ocupação  -->
        <div class="form-group">
          <legend>{{ "ocupation_label" | translate }}</legend>
          <select id="ocupation" [(ngModel)]="user.ocupation" name="ocupation">
            <option [value]="occupation" *ngFor="let occupation of occupationOptions">
              {{ occupation | translate }}
            </option>
          </select>
        </div>

        <!-- Campo escolaridade  -->
        <div class="form-group">
          <legend>{{ "education_level_label" | translate }}</legend>
          <select id="educationLevel" [(ngModel)]="user.educationLevel" name="educationLevel">
            <option [value]="educationLevel" *ngFor="let educationLevel of educationLevelOptions">
              {{ educationLevel | translate }}
            </option>
          </select>
        </div>
      </app-fieldset>

      <div class="buttons">
        <app-button [className]="'secundary'" [disabled]="!isFormValid()" (click)="registerUser()">
          {{ "register" | translate }}
        </app-button>
        <a className="link" href="/login">
          <app-button [className]="'secundary'">{{
            "login" | translate
            }}</app-button>
        </a>
      </div>
    </form>
  </app-container>
</section>
