<section class="user-registration" *ngIf="user">
  <app-container>
    <h2>{{ "title_user_registration" | translate }}</h2>
    <form class="form text-center" (ngSubmit)="registerUser()" #registrationForm="ngForm">
      <app-fieldset>
        <div class="form-group">
          <!-- Campo nome -->
          <legend>{{ "name_label" | translate }}</legend>
          <input type="text" id="displayName" [(ngModel)]="user.displayName" name="displayName"
            autocomplete="current-displayName" required
            [attr.aria-invalid]="user.displayName && user.displayName.trim() === '' ? 'true' : 'false'" />
          <app-error-message *ngIf="user.displayName && user.displayName.trim() === '' && submitted"
            aria-live="assertive">
            {{ 'field_required' | translate }}
          </app-error-message>
        </div>

        <div class="form-group">
          <!-- Campo E-mail -->
          <legend>{{ "email_label" | translate }}</legend>
          <input type="email" id="email" [(ngModel)]="user.email" name="email" required
            [attr.aria-invalid]="user.email && !validEmail(user.email) ? 'true' : 'false'" />
          <app-error-message *ngIf="!validEmail(user.email) && submitted" aria-live="assertive">
            {{ 'invalid_email' | translate }}
          </app-error-message>
        </div>

        <div class="form-group">
          <!-- Campo Senha -->
          <legend>{{ "password_label" | translate }}</legend>
          <input type="password" id="password" [(ngModel)]="user.password" name="password"
            autocomplete="current-password" required
            [attr.aria-invalid]="user.password && user.password.trim() === '' ? 'true' : 'false'" />
          <app-error-message *ngIf="user.password && user.password.trim() === '' && submitted" aria-live="assertive">
            {{ 'field_required' | translate }}
          </app-error-message>
        </div>
      </app-fieldset>

      <app-button [disabled]="!isFormValid()" (click)="registerUser()">
        {{ "register" | translate }}
      </app-button>

      <a className="link" href="/login">
        <app-button>{{"login" | translate}}</app-button>
      </a>
    </form>
  </app-container>
</section>
