.list {
  ul {
    list-style: none;
  }

  .list-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .inline-list {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .list-data {
    background: #f8f8f8;
    border-radius: 5px;
  }

  li {
    text-align: center;
    flex: 1;
    word-wrap: break-word;
  }

  .disabled-list .text-center {
    opacity: 0.5;
    color: #555555;
    pointer-events: none;
  }

  .list-data .text-center::before {
    font-weight: bold;
    content: attr(data-label) ": ";
  }
}

@media screen and (max-width: 1023px) {
  .list {
    .inline-list {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .list {
    .list-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .inline-list {
      display: flex;
      align-items: center;
    }
  }
}
