<main class="page-categories">
  <div class="container">
    <section class="section intro">
      <h1>Serviços</h1>
      <h2 class="subtitle">Principais categorias de serviços</h2>
    </section>
    <section class="section all-categories">
      <div class="row">
        <div class="col-sm-2 col-md-3 col-lg-4 inline" *ngFor="let category of this.componentParams; let categoryIndex=index">
          <a href={{category.link}} class="link">
            <mat-card class="card">
              <mat-card-content>
                <app-background-image #backgroundImageComponent [link]="category.images[0].link" [title]="category.images[0].title">
                </app-background-image>
                <h2 class="title">{{category.name}}</h2>
                <p class="description">{{category.description}}</p>
              </mat-card-content>
            </mat-card>
          </a>
        </div>
      </div>
    </section>
  </div>
</main>
