.container,
section {
  max-width: 1140px;
  padding: 20px;

}

.form-group,
.container,
section,
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}

.text-center {
  text-align: center;
}

h2,
h3 {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.8rem;
  color: #4A90E2;
}

h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
}

form {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.2s;
}

legend {
  font-weight: bold;
  font-size: 1.2rem;
}

p {
  font-size: 0.9rem;
}

p,
label,
legend {
  margin: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  height: 40px;
  padding: 10px;
  max-width: 300px;
}

input[type="radio"] {
  margin-right: 10px;
}

.strikethrough {
  opacity: 0.5;
}

.strikethrough legend {
  text-decoration: line-through;
  color: grey;
}

@media (min-width: 600px) {
  form {
    padding: 20px;
  }

  h2 {
    font-size: 2rem;
  }

  button {
    font-size: 1.2rem;
  }
}
