input, button {
  margin-bottom: 0.938rem;
}

.row {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.margin-bottom-30 {
  margin-bottom: 1.875rem;
}

.margin-top-30 {
  margin-top: 1.875rem;
}

.header, .footer {
  padding: 1rem;
}
