<section class="user-registration" *ngIf="user">
  <app-container>
    <h2 class="text-center">{{ "title_user_registration" | translatePipe }}</h2>
    <form class="form text-center" (ngSubmit)="registerUser()" #registrationForm="ngForm">
      <app-fieldset [content_style]="'row'">
        <!-- Campo nome -->
        <div class="form-group">
          <legend>
            {{ "name_label" | translatePipe }} <span class="required">*</span>
          </legend>
          <input type="text" id="displayName" [(ngModel)]="user.displayName" name="displayName"
            autocomplete="current-displayName" required [attr.aria-invalid]="
              user.displayName && user.displayName.trim() === ''
                ? 'true'
                : 'false'
            " />
        </div>

        <!-- Campo E-mail -->
        <div class="form-group">
          <legend>
            {{ "email_label" | translatePipe }} <span class="required">*</span>
          </legend>
          <input type="email" id="email" [(ngModel)]="user.email" name="email" required [attr.aria-invalid]="
              user.email && !validEmail(user.email) ? 'true' : 'false'
            " />
        </div>

        <!-- Campo Senha -->
        <div class="form-group">
          <legend>
            {{ "password_label" | translatePipe }}
            <span class="required">*</span>
          </legend>
          <input type="password" id="password" [(ngModel)]="user.password" name="password"
            autocomplete="current-password" required [attr.aria-invalid]="
              user.password && user.password.trim() === '' ? 'true' : 'false'
            " />
        </div>

        <!-- Campo gênero  -->
        <div class="form-group">
          <legend>
            {{ "gender_label" | translatePipe }} <span class="required">*</span>
          </legend>
          <select id="gender" [(ngModel)]="user.gender" name="gender" required>
            <option [value]="gender" *ngFor="let gender of genderOptions">
              {{ gender | translatePipe }}
            </option>
          </select>
        </div>

        <!-- Campo data de nascimento  -->
        <div class="form-group">
          <legend>{{ "birthdate_label" | translatePipe }}</legend>
          <input type="date" id="birthdate" [(ngModel)]="user.birthdate" name="birthdate" [attr.aria-invalid]="
              !user.birthdate && submitted ? 'true' : 'false'
            " required />
        </div>

        <!-- Campo ocupação  -->
        <div class="form-group">
          <legend>{{ "ocupation_label" | translatePipe }}</legend>
          <select id="ocupation" [(ngModel)]="user.ocupation" name="ocupation">
            <option [value]="occupation" *ngFor="let occupation of occupationOptions">
              {{ occupation | translatePipe }}
            </option>
          </select>
        </div>

        <!-- Campo escolaridade  -->
        <div class="form-group">
          <legend>{{ "education_level_label" | translatePipe }}</legend>
          <select id="educationLevel" [(ngModel)]="user.educationLevel" name="educationLevel">
            <option [value]="educationLevel" *ngFor="let educationLevel of educationLevelOptions">
              {{ educationLevel | translatePipe }}
            </option>
          </select>
        </div>
      </app-fieldset>

      <div class="buttons">
        <app-button [className]="'secundary'" [disabled]="!isFormValid()" (click)="registerUser()">
          {{ "register" | translatePipe }}
        </app-button>
        <a class="link" [routerLink]="['/login']" routerLinkActive="active"><app-button [className]="'secundary'">{{
            "login" | translatePipe
            }}</app-button></a>
      </div>
    </form>
  </app-container>
</section>
